transformers
beautifulsoup4
psycopg
PyYAML
opendartreader
finance-datareader
numpy
pandas
matplotlib
seaborn
jupyterlab
rdflib
pyvis
streamlit
scikit-learn
statsmodels
sqlparse
spacy-streamlit
torchmetrics
pytorch_lightning